body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background-image: url('blogimg.jpeg');
   
    
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.posts {
    margin: 20px;
    padding: 10px;
}

.post {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

form {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 95%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}
.delete-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color:#333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: darkred;
}
